                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
@use 'sass:map';
@use 'partials/variables'as v;
@use 'partials/mixin' as m;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.8rem;
}

body {
  @include m.darkTheme();
  font-family: 'Open Sans', sans-serif;
  margin: 5% auto;
}

a {
  text-decoration: none;
  color: map-get(v.$colors, cl-light-blue);
  
  &:hover {
    color: map-get(v.$colors, cl-green);
  }
  
  &.router-link-exact-active {
    color: map-get(v.$colors, cl-green);
  }
}

p {
	font-family: "Lora", Serif;
}