                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
$colors: (
  cl-dark: rgba(53, 59, 72, 1),
  cl-dark-1: rgba(47, 54, 64, 1),
  cl-light: rgba(245, 246, 250, 1),
  cl-light-1: rgba(220, 221, 225, 1),
  cl-gray: rgba(127, 143, 166, 1),
  cl-gray-1: rgba(113, 128, 147, 1),
  cl-red: rgba(232, 65, 24, 1),
  cl-red-1: rgba(194, 54, 22, 1),
  cl-dark-blue: rgba(39, 60, 117, 1),
  cl-dark-blue-1: rgba(25, 42, 86, 1),
  cl-light-blue: rgba(0, 168, 255, 1),
  cl-light-blue-1: rgba(0, 151, 230, 1),
  cl-blue: rgba(72, 126, 176, 1),
  cl-blue-1: rgba(64, 115, 158, 1),
  cl-green: rgba(76, 209, 55, 1),
  cl-green-1: rgba(68, 189, 50, 1),
  cl-yellow: rgba(251, 197, 49, 1),
  cl-yellow-1: rgba(225, 177, 44, 1),
  cl-purple: rgba(156, 136, 255, 1),
  cl-purple-1: rgba(140, 122, 230, 1)
);